:root {
  --primary: #182d96
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 360px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-wrapper .input {
  outline: none;
  padding: 12px 16px;
  border-radius: 8px;
  min-width: 260px;
  border: 2px solid var(--primary);
}

.btn-submit {
  outline: none;
  padding: 12px 16px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s linear all;
}

.btn-submit:hover {
  opacity: 0.8;
}
.btn-submit:active {
  opacity: 0.9;
}

.list-container {
  min-width: 360px;
  max-width: 360px;
}

.btn {
  outline: none;
  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 8px;
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user-info {
  flex: 1;
  text-wrap: wrap;
}

.btn-edit {

}

.btn-delete {

}